@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

:root {
    --biru-tua: #4472C4;
    --biru-muda: #5B9BD5;
    --hijau: #76be45;
    --oranye: #ED7D31;
    --kuning: #FFC000;
    --hitam: #444;
    --hitam-border: #888;
}

/* 
 *  General Styling
*/
* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Karla', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Karla' !important;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.15;
    line-height: 1.5;
    text-align: left;

    color: var(--hitam);
    background-color: #f9f9f9;

    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

ol li, ul li {
    position: relative;
    padding-left: 10px;
}

/* p {
    margin-bottom: 0;
} */

label {
    font-weight: bold;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--oranye);
}

a:hover {
    color: var(--hitam);
}

svg {
    fill: #444;
}

/* 
 * End of General Styling
*/
/*
* animation
*/
@-webkit-keyframes fadeInUp {
    0% {
       opacity: 0;
       -webkit-transform: translateY(2000px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInUp {
    0% {
       opacity: 0;
       transform: translateY(2000px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
.fadein-top {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* 
 *  Navbar Styling
*/
.navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: var(--biru-muda);
    /* border-bottom: 3px solid var(--hitam); */
    z-index: 999;
}

.navbar > .nav-header {
    display: inline;
    margin-left: 100px;
}

.navbar > .nav-header > .nav-title {
    display: inline-block;
    color: #fff;
    padding: 20px 15px;
    cursor: pointer;
}

.nav-title > a {
    color: #fff;
}

.nav-title > a:hover {
    color: #fff;
}

.navbar > .nav-btn {
    display: none;
}

.navbar > .nav-links {
    display: inline;
    float: right;
    margin-right: 55px;
}

.terrenial-logo {
    letter-spacing: 2px;
    font-size: 14pt;
    font-weight: bold;
}

.navbar > .nav-links > a {
    display: inline-block;
    padding: 25px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.3s;
}

.navbar > .nav-links > a:hover {
    transition: ease-in-out 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar > #nav-check {
    display: none;
}
/* 
 *  Navbar Styling on mobile
*/
@media (max-width:767px) {
    .navbar > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .navbar > .nav-btn > label {
        display: inline-block;
        width: 70px;
        height: 70px;
        padding: 24px;
    }
    .navbar > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .navbar > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 3px solid #eee;
        border-radius: 1px;
    }
    .navbar > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .navbar > .nav-links > a {
        display: block;
        width: 100%;
    }
    .navbar > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .navbar > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    /* 
     *  End of Navbar Styling on mobile
    */
}
/* 
 *  End of Navbar Styling
*/
/* 
 *  Wrapper Styling
*/
.wrapper {
    width: calc(100% - 500px);
    margin: 0 auto;
}
.paper-background {
    margin-top: -1px;
    border: 1px solid #eeeeee;
    background-image: url('../img/wh-block.png');
}
@media only screen and (max-width:1024px) {
    .wrapper {
        width: calc(100% - 200px);
    }
}
@media only screen and (max-width:767px) {
    .wrapper {
        width: 100%;
    }
}
/* 
 *  End of Wrapper Styling
*/
/* 
 *  Header Styling
*/
#header-1{
    background-image: url("../img/header-main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -17px;
    background-attachment: fixed;
    background-size: calc(900px + 8%);
    width: 100%;
    height: 100vh;
    border: 1px solid var(--hitam-border);
    border-radius: 10px;
}
#header-2{
    background-image: url("../img/header-small.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: calc(68px);
    background-attachment: fixed;
    width: 100%;
    height: 54vh;
    margin-top: 68px;
}
.featured-post-dock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%; 
    height: 100px;
    top: 85%;
}
.featured-post-item {
    background-color: #fff;
    position: relative;
    margin: 0 10px;
    height: 100px;
    width: 200px;
    order: 2;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.10);
    border: 2.5px solid var(--hitam-border);
    border-radius: 10px;
    cursor: pointer;
}
.featured-post-item > label {
    top: 50%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14pt;
    line-height: 16pt;
    width: 88%;
    cursor: pointer;
}

.featured-post-item > label > span {
    font-size: 18pt;
    font-weight: bold;
    animation-name: fadeInUp;
    animation-duration: 1.2s;
}

[id^="featured-post-"]:hover [id^="post-title-"] > span{
    display: none;
}

[id^="featured-post-"]:hover #post-title-1::after{
    animation-name: fadeInUp;
    animation-duration: 1.2s;
    content: "Introduction to Climate Change";
}

[id^="featured-post-"]:hover #post-title-2::after{
    animation-name: fadeInUp;
    animation-duration: 1.2s;
    content: "The Major Cause to Climate Change";
}

[id^="featured-post-"]:hover #post-title-3::after{
    animation-name: fadeInUp;
    animation-duration: 1.2s;
    content: "Climate Change Is Affecting Everyone";
}

[id^="featured-post-"]:hover #post-title-4::after{
    animation-name: fadeInUp;
    animation-duration: 1.2s;
    content: "How to Combat Climate Change";
}

#post-title-1{
    color: #f25022;
}
#post-title-2{
    color: #7fba00;
}
#post-title-3{
    color: #00a4ef;
}
#post-title-4{
    color: #ffb900;
}
@media only screen and (max-width: 767px) {
    .featured-post-item {
        margin: 5px;
        width: 166px;
    }
    .featured-post-dock {
        top: 65%;
    }
}
/* 
 *  End of Header Styling
*/
/* 
 *  Container Styling
*/
.container {
    width: calc(100% - 300px);
    margin: 0 auto;
    padding: 46px;
}

.container-full {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.container-main {
    display: -webkit-flex;
    display: flex;
}

.container-aside {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px;
}

.container-content {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 15px;
}

aside.container-aside{
    padding: 50px;
}
aside.left-side {
    padding-right: 0;
}
aside.right-side {
    padding-left: 0;
}

section.container-content {
    padding: 50px;
}
section.left {
    padding-right: 20px;
}
section.right {
    padding-left: 20px;
}

@media (max-width: 767px) {
    .container-main {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
/* 
 *  End of Container Styling
*/
/* 
 *  Content Box Styling
*/
.content-box {
    border: 2.5px solid var(--hitam-border);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #fff;
}
.content-box > h2 {
    margin: 0;
    color:#ED7D31;
    margin-bottom: 20px;
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.link-item > [id^="link-check-"] {
    display: none;
}
.link-item > .link-btn {
    display: block;
    margin: 0 0 5px 0; 
}
.link-item > .link-btn > label{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 0 0 5px 0;
    border-bottom: 2px solid var(--hitam);
    letter-spacing: 1px;
}
.link-item > .link-list {
    display: block;
    width: 100%;
    height: 0px;
    transition: all 0.5s ease-in;
    overflow-y: hidden;
    font-size: 9pt;
    top: 50px;
    left: 0px;
}
.link-item > .link-list > a {
    display: block;
    width: 100%;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #bbb;
}
.link-item > [id^="link-check-"]:not(:checked) ~ .link-list {        
    height: 0px;
    transition: all 0.3s ease-in;
}
.link-item > [id^="link-check-"]:checked ~ .link-list {
    height: auto;
    overflow-y: auto;
    transition: all 0.3s ease-in;
}

.post-title {
    margin-bottom: 16px;
}
.post-title > h1{
    margin: 0 0 7px 0;
    font-size: 20pt;
    font-weight: bolder;
    color:#444;
}
.post-title a {
    color:#444;
}
.post-title a:hover {
    color: #ED7D31;
}
.post-title > .timestamp-article {
    color: var(--hitam);
    opacity: 0.7;
    font-size: smaller;
}
.post img {
    width: 100%;
}
.post > p {
    margin-bottom: 15px;
}
.post > a {
    margin: 0;
}
.main-pagination {
    padding: 20px 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt;
}
.main-pagination > .back-to-top{
    display: inline;
}
.main-pagination > .pagination-items{
    display: inline;
    float: right;
}
.pagination-items > a {
    padding: 10px 15px;
}
.pagination-items > .a-selected {
    cursor: unset;
    color: var(--hitam);
    font-weight: bold;
}
/* 
 *  End of Content Box Styling
*/

/*
*   post page
*/
.related-textbox {
    margin-top: 20px;
    font-size: 8pt;
}
.related-textbox > a > label {
    font-size: 12pt;
    font-weight: bold;
    color: #444;
    line-height: 1.2em;
    cursor: pointer;
}

.related-textbox a {
    font-size: 12pt;
    font-weight: bold;
    color: #444;
    line-height: 1.2em;
    cursor: pointer;
}

.related-textbox label:hover {
    color: var(--oranye);
    cursor: pointer;
}

.comment-box > .button {
    font-size: 9pt !important;
    margin-top: 17px;
}
.logo-animate > a {
    top: 25%;
}

.social-share {
    margin-bottom: 20px;
}

.social-share a {
    margin: 0 5px;
}

/*
*   Form and input styling
*/
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2.5px solid var(--hitam);
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 9px 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt !important;
    font-family: 'Karla';
    font-weight: bold;
    color: var(--hitam);
    border: 2.5px solid var(--hitam);
    border-radius: 5px;
    cursor: pointer;
}

a.button:hover{
    transition: ease-in-out 0.3s;
    text-decoration: underline;
    color: var(--hitam);
    background-color: #fff;
}

.btn-subscribe {
    box-sizing: border-box;
    position: relative;
    outline: none;
    border-radius: 5px;
    min-width: 80px;
    padding-bottom: 8px; 
}
.btn-subscribe > img {
    max-width: 12pt;
    margin: 1px;
    padding: 0;
    display: inline;
    position: relative;
    bottom: -1.9px;
}

.btn-orange {
    transition: ease-in-out 0.3s;
    background-color: var(--oranye);
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group > .form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group-append {
    margin-left: -1px;
    display: flex;
    display: -ms-flexbox;
}
.input-group-append > span {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    text-align: center;
    white-space: nowrap;
    color: var(--hitam);
    line-height: 1.5;
    font-size: 12pt;
    font-weight: bold;
    background-color: var(--oranye);
    border: 2.5px solid var(--hitam);
    border-radius: 5px;
}
.input-group > .form-control:not(:first-child) {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group > .form-control:not(:last-child) {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group > .input-group-append > span {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group > .input-group-prepend > span {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#search-icon {
    display: block;    
    width: 12pt;
    height: 12pt;
}
/* 
 *  footer Styling
*/
.footer-landingpage {
    background-color: var(--biru-tua);
    text-align: center;
    /* border-top: 3px solid var(--hitam); */
}   

footer label {
    font-size: 14pt;
    color: #fff;
}

footer .newsletter {
    height: 30vh;
}

footer .subscription {
    display: block;
    position: relative;
    top: 20%;
}

.subscription input {
    display: inline;
    width: unset;
}

.email-subscribe {
    min-width: 250px;
}

footer .subscription-box {
    margin-top: 20px;
}

footer .copyright {
    padding: 5px 0px;
    font-size: 6pt;
    bottom: 0;
    position: relative;
    border-top: 1px solid #888;
    background-color: #fff;
    text-align: center;
    letter-spacing: 1px;
}
.copyright-icon{
    max-width: 6pt;
    margin: 0 3px 0 0;
    padding: 0;
    display: inline;
    position: relative;
    bottom: -0.9px;
}

@media only screen and (min-width:1024px) {
    .email-subscribe {    
        min-width: 380px;
    }
}
/* 
 *  end of footer Styling
*/


/*
*   about us page
*/
.profile-image{
    max-width: 200px;
    border: 2.5px solid var(--hitam);
    border-radius: 20px;
}
.profile img {
    width: auto;
    margin: 0 3px 0 0;
    padding: 0;
    display: inline;
    position: relative;
    bottom: -2.9px;
}
.profile:hover .profile-image {
    transform: scaleX(-1);
}
.profile-name {
    margin: 0;
}


/*
*   mascot styling 
*/
.floating-mascot {
    position: fixed;
    right: 6px;
    bottom: 27px;
}
.floating-mascot div{
    background-image: url("../img/maskot-gif-metal.gif");
    background-repeat: no-repeat;
    background-size: 300px;
    width: 300px;
    height: 215px;
}
.floating-mascot div:hover{
    background-image: url("../img/maskot-thinking.gif");
    background-repeat: no-repeat;
    background-size: 200px;
    width: 215px;
    height: 270px;
}

@media (max-width: 767px) {
    .floating-mascot {
        display: none;
    }
}

