@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

/* 
 *  Variable declaration
*/
:root {
    --biru-tua: #4472C4;
    --biru-muda: #5B9BD5;
    --hijau: #76be45;
    --oranye: #ED7D31;
    --kuning: #FFC000;
    --oranye-nav: #f39f47;
    --hitam: #444;
    --hitam-placeholder: #777;
    --hitam-border: #888;
    --hitam-footer: #979797;
    --abu-abu: #bbb;
    --abu-abu-nav-btn: #eee;
    --putih: #fff;
    --putih-background: #f9f9f9;
}

/* 
 *  General Styling
*/
* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Karla' !important;
    font-family: 'Karla', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.15;
    line-height: 1.5;
    text-align: left;

    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

ol li,
ul li {
    position: relative;
    padding-left: 10px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'Karla' !important;
    color: var(--hitam-placeholder);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: 'Karla' !important;
    color: var(--hitam-placeholder);
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Karla' !important;
    color: var(--hitam-placeholder);
}

:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Karla' !important;
    color: var(--hitam-placeholder);
}

label {
    font-weight: bold;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--oranye);
    transition: all 0.1s linear;
}

a:hover {
    color: var(--hitam);
}

svg {
    fill: var(--hitam);
}

svg#search-icon {
    display: block;
    width: 12pt;
    height: 12pt;
}

/*
* animation
*/
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadein-top {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* 
 *  Navbar Styling
*/
.navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: var(--oranye-nav);
    /* border-bottom: 3px solid var(--hitam); */
    z-index: 999;
    transition: 0.2s ease-in-out;
}

.navbar>.nav-header {
    display: inline;
    margin-left: 80px;
}

.navbar>.nav-header>.nav-title {
    display: inline-block;
    color: var(--putih);
    padding: 20px 15px;
    cursor: pointer;
}

.nav-title>a {
    color: var(--putih);
}

.nav-title>a>img {
    width: 14pt;
    display: inline;
    position: relative;
    bottom: -2.9px;
    margin-right: 7px;
}

.nav-title>a:hover {
    color: var(--putih);
}

.navbar>.nav-btn {
    display: none;
}

.navbar>.nav-links {
    display: inline;
    float: right;
    margin-right: 142px;
}
.terrenial-logo {
    letter-spacing: 2px;
    font-size: 14pt;
    font-weight: bold;
}

.navbar>.nav-links>a {
    display: inline-block;
    padding: 25px 27px;
    text-decoration: none;
    color: var(--putih);
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.3s;
}

.navbar>.nav-links>a:hover {
    transition: ease-in-out 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar>#nav-check {
    display: none;
}

/* 
 *  Wrapper Styling
*/
.wrapper {
    width: calc(100% - 500px);
    margin: 0 auto;
}

.paper-background {
    margin-top: -1px;
    border: 1px solid var(--hitam-border);
    background-image: url('../img/block-wh.png');
}

.wrapper.archive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: calc(100% - 100px);
    padding-top: 70px;
}

.wrapper.archive>.content-box {
    order: 2;
    max-width: calc(100% / 3.5);
    margin: 20px;
}

/* 
 *  Feature and Header Styling
*/
#header-1 {
    background-image: url("../img/header-main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 18px;
    background-attachment: fixed;
    background-size: calc(100% - 500px);
    background-color: #fff;
    width: 100%;
    height: 100vh;
    border: 1px solid var(--hitam-border);
    border-radius: 10px;
}

#header-2 {
    background-image: url("../img/header-small.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    /*background-position-y: calc(18px);*/
    background-attachment: fixed;
    background-size: calc(100% - 500px);
    width: 100%;
    height: 54vh;
    margin-top: 68px;
}

.featured-post-dock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100px;
    top: 78%;
}

.featured-post-item {
    background-color: var(--putih);
    position: relative;
    margin: 0 10px;
    height: 100px;
    width: 200px;
    order: 2;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.10);
    border: 2.5px solid var(--hitam-border);
    border-radius: 10px;
    cursor: pointer;
}

.featured-post-item>label {
    top: 50%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14pt;
    line-height: 16pt;
    width: 88%;
    cursor: pointer;
}

.featured-post-item>label>span {
    font-size: 18pt;
    font-weight: bold;
    animation-name: fadeInUp;
    animation-duration: 1.2s;
}

#featured-post-1 {
    background-color: #f04d4d;
    border: 0;
    background-image: url('../img/fire.svg');
    background-size: 100px;
    background-repeat: no-repeat;
}

#featured-post-2 {
    background-color: #5ee14f;
    border: 0;
    background-image: url('../img/sprout.svg');
    background-size: 100px;
    background-repeat: no-repeat;
}

#featured-post-3 {
    background-color: #00a4ef;
    border: 0;
    background-image: url('../img/drop.svg');
    background-size: 100px;
    background-repeat: no-repeat;
}

#featured-post-4 {
    background-color: #ffb900;
    border: 0;
    background-image: url('../img/pinwheel.svg');
    background-size: 100px;
    background-repeat: no-repeat;
}

#post-title-1 {
    color: #fff;
}

#post-title-2 {
    color: #fff;
}

#post-title-3 {
    color: #fff;
}

#post-title-4 {
    color: #fff;
}

[id^="featured-post-"]:hover [id^="post-title-"]>span {
    display: none;
}

[id^="featured-post-"]:hover {
    background-image: unset !important;
}

[id^="featured-post-"]:hover #post-title-1::after {
    animation-name: fadeInUp;
    animation-duration: 1.2s;
    content: "Introduction to Climate Change";
}

[id^="featured-post-"]:hover #post-title-2::after {
    animation-name: fadeInUp;
    animation-duration: 1.2s;
    content: "The Major Cause to Climate Change";
}

[id^="featured-post-"]:hover #post-title-3::after {
    animation-name: fadeInUp;
    animation-duration: 1.2s;
    content: "Climate Change Is Affecting Everyone";
}

[id^="featured-post-"]:hover #post-title-4::after {
    animation-name: fadeInUp;
    animation-duration: 1.2s;
    content: "How to Combat Climate Change";
}

/* 
 *  Container Styling
*/
.container {
    width: calc(100% - 300px);
    margin: 0 auto;
    padding: 46px;
}

.container-full {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.container-main {
    display: -webkit-flex;
    display: flex;
}

.container-aside {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px;
}

.container-content {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 15px;
}

aside.container-aside {
    padding: 50px;
}

aside.left-side {
    padding-right: 0;
}

aside.right-side {
    padding-left: 0;
}

section.container-content {
    padding: 50px;
}

section.left {
    padding-right: 20px;
}

section.right {
    padding-left: 20px;
}

/* 
 *  Content Box Styling
*/
.content-box {
    border: 2.5px solid var(--hitam-border);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: var(--putih);
}

.content-box>h2 {
    margin: 0;
    color: var(--oranye);
    margin-bottom: 20px;
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.link-item>[id^="link-check-"] {
    display: none;
}

.link-item>.link-btn {
    display: block;
    margin: 0 0 5px 0;
}

.link-item>.link-btn>label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 0 0 5px 0;
    border-bottom: 2px solid var(--hitam);
    letter-spacing: 1px;
}

.link-item>.link-btn>label:hover {
    color: var(--oranye);
    transition: 0.2s linear;
}

.link-item>.link-list {
    display: block;
    width: 100%;
    height: 0px;
    transition: all 0.5s ease-in;
    overflow-y: hidden;
    font-size: 9pt;
    top: 50px;
    left: 0px;
}

.link-item>.link-list>a {
    display: block;
    width: 100%;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid var(--abu-abu);
}

.link-item>[id^="link-check-"]:not(:checked)~.link-list {
    height: 0px;
    transition: all 0.3s ease-in;
}

.link-item>[id^="link-check-"]:checked~.link-list {
    height: auto;
    overflow-y: auto;
    transition: all 0.3s ease-in;
}

.link-item img {
    width: 12px;
    bottom: -1px;
    position: relative;
    display: inline-block;
    margin: 0 7px 0 7px;
}

.post-title {
    margin-bottom: 16px;
}

.post-title>h1 {
    margin: 0 0 7px 0;
    font-size: 20pt;
    font-weight: bolder;
    color: var(--hitam);
}

.post-title a {
    color: var(--hitam);
}

.post-title a:hover {
    color: var(--oranye);
}

.post-title>.timestamp-article {
    /* color: var(--hitam); */
    opacity: 0.7;
    font-size: smaller;
}

.post img {
    width: 100%;
}

.post>p {
    margin-bottom: 15px;
}

.post>a {
    margin: 0;
}

.main-pagination {
    padding: 20px 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt;
}

.main-pagination>.back-to-top {
    display: inline;
}

.main-pagination>.pagination-items {
    display: inline;
    float: right;
}

.pagination-items>a {
    /*padding: 10px 15px;*/
}

.pagination-items>.a-selected {
    cursor: unset;
    color: var(--hitam);
    font-weight: bold;
}

/*
*   post page
*/
.related-textbox {
    margin-top: 20px;
    font-size: 8pt;
}

.related-textbox>a>label {
    font-size: 12pt;
    font-weight: bold;
    color: var(--hitam);
    line-height: 1.2em;
    cursor: pointer;
}

.related-textbox a {
    font-size: 12pt;
    font-weight: bold;
    color: var(--hitam);
    line-height: 1.2em;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.related-textbox label:hover {
    transition: ease-in-out 0.3s;
    color: var(--oranye);
    cursor: pointer;
}

.comment-box>.button {
    -webkit-appearance: none;
    font-size: 9pt !important;
    margin-top: 17px;
}

.comment-box>.button:hover {
    background-color: var(--putih);
}

.comment-box>.button:active {
    background-color: var(--hijau);
}

.logo-animate>a {
    top: 25%;
}

.social-share {
    margin-bottom: 20px;
}

.social-share a {
    margin: 0 5px;
}

/*
*   Form and input styling
*/
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    color: var(--hitam);
    background-color: var(--putih);
    background-clip: padding-box;
    border: 2.5px solid var(--hitam);
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt !important;
    font-family: 'Karla';
    font-weight: bold;
    color: var(--hitam);
    border: 2.5px solid var(--hitam);
    border-radius: 5px;
    cursor: pointer;
}

a.button:hover {
    transition: ease-in-out 0.3s;
    color: var(--hitam);
    background-color: var(--putih);
}

.btn-subscribe {
    box-sizing: border-box;
    position: relative;
    outline: none;
    border-radius: 5px;
    min-width: 80px;
    padding-bottom: 8px;
}

.btn-subscribe>img {
    max-width: 12pt;
    margin: 1px;
    padding: 0;
    display: inline;
    position: relative;
    bottom: -1.9px;
}

.btn-orange {
    transition: ease-in-out 0.3s;
    background-color: var(--oranye);
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group-append {
    margin-left: -1px;
    display: flex;
    display: -ms-flexbox;
}

.input-group-append>span {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    text-align: center;
    white-space: nowrap;
    color: var(--hitam);
    line-height: 1.5;
    font-size: 12pt;
    font-weight: bold;
    background-color: var(--oranye);
    border: 2.5px solid var(--hitam);
    border-radius: 5px;
}

.input-group>.form-control:not(:first-child) {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group>.form-control:not(:last-child) {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.input-group-append>span {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group>.input-group-prepend>span {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/* 
 *  footer Styling
*/
.footer-landingpage {
    background-color: var(--hitam-footer);
    text-align: center;
    /* border-top: 3px solid var(--hitam); */
}

footer label {
    font-size: 14pt;
    color: var(--putih);
}

footer .newsletter {
    height: 30vh;
}

footer .subscription {
    display: block;
    position: relative;
    top: 20%;
}

.subscription input {
    display: inline;
    width: unset;
}

.email-subscribe {
    min-width: 250px;
}

footer .subscription-box {
    margin-top: 20px;
}

footer .copyright {
    padding: 5px 0px;
    font-size: 6pt;
    bottom: 0;
    position: relative;
    border-top: 1px solid var(--hitam-border);
    background-color: var(--putih);
    text-align: center;
    letter-spacing: 1px;
}

.copyright-icon {
    max-width: 6pt;
    margin: 0 3px 0 0;
    padding: 0;
    display: inline;
    position: relative;
    bottom: -0.9px;
}
/*
*   end of footer styling
*/

/*
*   about us page
*/
.profile-image {
    max-width: 200px;
    border: 2.5px solid var(--hitam);
    border-radius: 20px;
}

.profile svg {
    /*width: auto;*/
    margin: 0 3px 0 0;
    padding: 0;
    display: inline;
    position: relative;
    bottom: -2.9px;
}

.profile:hover .profile-image {
    transform: scaleX(-1);
}

.profile-name {
    margin: 0;
}
/*
*   end of about us page
*/

/*
*   mascot styling 
*/
.floating-mascot {
    position: fixed;
    right: 6px;
    bottom: 27px;
}

.floating-mascot div {
    background-image: url("../img/maskot.gif");
    background-repeat: no-repeat;
    background-size: 300px;
    width: 300px;
    height: 230px;
}

.floating-mascot div:hover {
    background-image: url("../img/maskot-hover.gif");
    background-repeat: no-repeat;
    background-size: 300px;
    width: 300px;
    height: 230px;
}

/*
* Dark theme mode switcher
*/
#toggle {
    display: none;
}

#toggle-bar {
    position: fixed;
    top: 23px;
    right: 44px;
    z-index: 9999;
    width: 77px;
}

#label {
    display: inline-block;
    background: #fff;
    width: 3.5em;
    height: 1.5em;
    border-radius: 2.5em;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-out;
}

#switch {
    position: absolute;
    width: 1.1em;
    height: 1.1em;
    margin-top: 0.2em;
    margin-left: 0.2em;
    border-radius: 2em;
    background-color: var(--oranye-nav);
    box-shadow: 5px 0px 28px -9px rgba(0, 0, 0, 0.75);
    transition: transform 0.2s ease-in, background-color 0.2s linear;
}

#toggle:checked+div>#label #switch {
    background-color: #32312F;
    transform: translatex(1.9em);
    background-image: url("../img/moon.svg");
    transition: transform 0.3s ease-in, background-color 0.2s linear;
}

#toggle ~ #toggle-bar svg {
    fill: var(--putih);    
    max-width: 1.6em;
    float: right;
}
#toggle:checked ~ #toggle-bar svg {
    transition: 0.3s ease-in;
    display:none;    
}

#toggle:checked+div>#label {
    transition: 0.3s ease-in;
    background: #32312F;
}

#toggle:checked~.navbar {
    transition: 0.2s ease-in-out;
    background: #CC7233;
}

#toggle:checked~.navbar a {
    transition: 0.2s ease-in-out;
    color: #000;
}

#toggle:checked~.navbar svg .cls-1 {
    stroke: var(--hitam) !important;
}

.theme-container {
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--hitam);
    background-color: var(--putih-background);
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container {
    background-color: #201f1e;
    /*#3B3A39*/
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container #header-1 {
    background-image: url('../img/header-main-sq-dk.jpg');
    transition: 0.3s ease-in;
}

#toggle:checked~.theme-container #header-2 {
    background-image: url('../img/header-small-dk.jpg');
    transition: 0.3s ease-in;
}

#toggle:checked~.theme-container .button,
#toggle:checked~.theme-container a.button:hover {
    /* background-color: #32312F; */
    color: #fff;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container a.button:hover {
    background-color: #201f1e;
    color: #e1e1e1;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .comment-box > .button:hover {
    background-color: #201f1e;
    color: #e1e1e1;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container svg {
    fill: #b6b6b6;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container svg#search-icon {
    fill: var(--putih);
}

#toggle:checked~.theme-container #header-1 {
    background-color: #32312F;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container>.paper-background {
    border: 1px solid var(--hitam-border);
    background-image: url('../img/block-dk.png');
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .content-box {
    background-color: #2a2a2a;
    color: #e1e1e1;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container a:hover {
    color: #e1e1e1 !important;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .post-title a:hover {
    color: var(--oranye) !important;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .post-title a,
#toggle:checked~.theme-container .post-title h1 {
    color: #e1e1e1;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .content-box label {
    color: #e1e1e1;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .content-box label:hover {
    color: var(--oranye);
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .post-title a:hover {
    color: var(--oranye);
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .link-list a:hover {
    color: #e1e1e1;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .form-control {
    background-color: #201f1e;
    color: #e1e1e1;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .form-control::placeholder {
    color: unset;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .footer-landingpage {
    background-color: #323232;
    transition: 0.2s ease-in-out;
}

#toggle:checked~.theme-container .copyright {
    background-color: #201F1E;
    color: #fff;
    transition: 0.2s ease-in-out;
}

/* dark mode controller */
#toggle:checked~.navbar .is-lightmode, 
#toggle:checked~.theme-container .is-lightmode {
    display: none !important;
}

#toggle:not(:checked)~.navbar .is-darkmode,
#toggle:not(:checked)~.theme-container .is-darkmode {
    display: none !important;
}

/* 
    Responsive rule
*/
@media only screen and (max-width:1280px) {

    /* 
    *  wrapper Styling on mobile
    */
    .wrapper {
        width: calc(100% - 200px);
    }

    #header-1,
    #header-2 {
        background-size: calc(100% - 200px);
    }

    .featured-post-dock {
        top: 55%;
    }

    .featured-post-item {
        flex: 30%;
        margin: 0px 20px 26px 20px;
    }
}

@media only screen and (max-width:1152px) {

    /* 
    *  wrapper Styling on mobile
    */
    .wrapper {
        width: calc(100% - 120px);
    }

    .wrapper.archive {
        width: 100%;
        padding: 30px;
        padding-top: 90px;
    }

    .wrapper.archive>.content-box {
        max-width: calc(100% / 2);
        flex: 25%;
    }

    #header-1,
    #header-2 {
        background-size: calc(100% - 120px);
    }

    /* 
    *  footer Styling on mobile
    */
    .email-subscribe {
        min-width: 380px;
    }
}

@media only screen and (max-width:960px) {

    /*
    *   feature and header styling on mobile
    */
    .featured-post-dock {
        top: calc(100% - 365px);
    }
}

@media only screen and (max-width:800px) {

    /* 
    *  wrapper Styling on mobile
    */
    .wrapper {
        width: 100%;
    }

    .wrapper.archive {
        width: 100%;
    }

    .wrapper.archive>.content-box {
        max-width: unset;
        flex: 50%;
    }

    /* 
    *  Navbar Styling on mobile
    */
    .navbar>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        width: 70px;
        height: 70px;
    }

    .navbar>.nav-btn:hover {
        transition: ease-in-out 0.5s;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .navbar>.nav-btn>label {
        display: inline-block;
        width: 70px;
        height: 70px;
        padding: 19px;
        line-height: 40px;
        vertical-align: middle;
    }

    .navbar>.nav-header {
        margin-left: 18px;
    }

    .navbar>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .navbar>.nav-btn>label>span {
        display: block;
        border: 0;
        border-top: 3px solid var(--abu-abu-nav-btn);
        margin: 6px 0;
        padding: 0;
        width: 32px;
    }

    .navbar>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        color: var(--hitam);
        background-color: var(--putih-background);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        left: 0;
    }

    .navbar>.nav-links>a {
        display: block;
        width: 100%;
        color: var(--hitam);
    }

    .navbar>.nav-links>a:hover {
        color: var(--hitam);
        background-color: rgba(0, 0, 0, 0.3);
    }

    .navbar>.nav-links>a:active {
        color: var(--hitam);
        background-color: rgba(0, 0, 0, 0.3);
    }

    .navbar>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .navbar>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .navbar>#nav-check:not(:checked)~.nav-btn #svg-close {
        display: none;
    }

    /*
    *   feature and header styling on mobile
    */
    .featured-post-dock {
        top: 55%;
    }

    #header-1 {
        background-image: url("../img/header-main-mobile.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 40px;
        background-attachment: fixed;
        background-size: 100% !important;
        width: 100%;
        height: 100vh;
        border: 1px solid var(--hitam-border);
        border-radius: 10px;
    }

    #header-2 {
        background-size: 100% !important;
        margin: 0;
        height: 32vh;
    }

    /*
    *   container styling on mobile
    */
    .container-main {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    section.container-content {
        padding: 19px;
    }

    aside.container-aside {
        padding: 19px;
        padding-bottom: 20px;
    }

    /* 
    *  mascot Styling on mobile
    */
    .floating-mascot {
        display: none;
    }

    /*
    * toggle 
    */
    #toggle-bar {
        right: 84px;
    }
    #toggle:checked~.navbar .nav-links {
        transition: 0.2s ease-in-out;
        color: var(--putih);
        background-color: #3B3A39;
    }

    #toggle:checked~.navbar .nav-links a {
        transition: 0.2s ease-in-out;
        color: var(--putih);
    }

    #toggle:checked~.theme-container #header-1 {
        background-image: url('../img/header-main-mobile-dk.jpg');
        transition: 0.3s ease-in;
    }
}

@media only screen and (max-width: 414px) {
    .email-subscribe {
        min-width: unset;
    }
}

@media only screen and (max-width: 375px) {
    .featured-post-item {
        margin: 0px 12px 26px 12px;
    }

}
/* 
   End of Responsive rule
*/